/* ################ TOWN HALL ################ */
#city .own #locations .townHall .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/townhall_l.png?raw=true) !important;
					  }

#city .own #locations .townHall .hover {
    display: none;
			 }

#city .own #locations .building.townHall .flag_position {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/buildings_flag.png?raw=true) !important;
	}


/* ################ PALACE ################ */
#city .own #locations .palace .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/palace.png?raw=true) !important;
	}

#city .own #locations .palace .hover {
    display: none;
	}

/* ################ PALACE COLONY ################ */
#city .own #locations .palaceColony .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/palace_colony.png?raw=true) !important;
	}

#city .own #locations .palaceColony .hover {
    display: none;
	}

/* ################ ACADEMIA ################ */
#city .own #locations .academy .hover {
    display: none;
			 }

#city .own #locations .academy .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/academy.png?raw=true) !important;
					  }


/* ################ BARACKS ################ */
#city .own .animated #locations .barracks .buildingimg, #city .own .animated #locations .barracks.busy .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/barracks.png?raw=true) !important;
					  }

#city .own #locations .barracks .hover {
    display: none;
			 }

.animated .animation_flag_barracks_16steps {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/barracks_flag.png?raw=true);
					  }


/* ################ WAREHOUSE ################ */
#city .own #locations .warehouse .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/warhouse.png?raw=true);
					  }

#city .own #locations .warehouse .hover {
    display: none;
			 }


/* ################ AMBROISY SHOP ################ */
#city .own #cityFlyingShopContainer {
/*
    top: 310px;
	    left: 1509px;
		*/
		    display: none;
			}

#city .own #cityFlyingShopContainer {
    height: 50px !important;
			}

/* ################ TAVERN ################ */
#city .own #locations .tavern .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/tavern.png?raw=true);
	}


#city .own #locations .tavern .hover {
    display:none;
	}


/* ################ CARPENTER ################ */
#city .own #locations .carpentering .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/carpentering.png?raw=true);
					  }

#city .own #locations .carpentering .hover {
    display: none;
			 }


/* ################ WALL ################ */
#city .own #locations .wall .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/wall.png?raw=true);
					  }

#city .own #locations .wall .hover {
    diplay: none !important;
	    background-image: none;
						  }


/* ################ PORTS ################ */
/* POSITION 1 */
#city .own #locations .position1.port .hover {
    display: none;
			 }

#city .own #locations .position1.port .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/port.png?raw=true);
					  }

#city .own .animated #locations .position1.port.busy .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/port.png?raw=true);
	}

/* POSITION 2 */
#city .own #locations .position2.port .hover {
    display: none;
			 }

#city .own #locations .position2.port .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/port2.png?raw=true);
					  }

#city .own .animated #locations .position2.port.busy .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/port2.png?raw=true);
	}



/* ################ SAFEHOUSE ################ */
#city .own #locations .safehouse .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/safehouse.png?raw=true);
	}

#city .own #locations .safehouse .hover {
    display: none;
	}



/* ################ WINEGROWER ################ */
#city .own #locations .winegrower .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/winegrower.png?raw=true);
	}

#city .own #locations .winegrower .hover {
    display: none;
	}



/* ################ SHIPYARD ################ */
/* POSITION 1 */


/* POSITION 2 */
#city .own #locations .position2.shipyard .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/shipyard.png?raw=true);
	}

#city .own #locations .position2.shipyard .hover {
    display: none;
	}



/* ################ FORESTER ################ */
#city .own #locations .forester .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/forester.png?raw=true);
	}

#city .own #locations .forester .hover {
    background-image: url(//gf1.geo.gfsrv.net/cdn91/22bc004….png);
	}



/* ################ DETAILS ################ */
/* Beach People */
#city .own .animated #locations .beachboys {
    display: none;
			 }

#city .own #locations .buildingGround.land .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/flag_black.png?raw=true) !important;
					  }

/* REPLACE PHALANX BY SPARTAN */
#js_barracksUnitHelpPic3 {
    content: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/new_phalanx.png?raw=true) !important;
	        }

#unitdescription #unit.s303 {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/new_phalanx_hq.png?raw=true);
	}


/* OWN WALKING SOLDIER IN CITIES */
.militaryList .army {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/global_army_icon.png?raw=true);
	        }

/* OWN PHALANX IN TOWN */
.soldierOwnN {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_n.png?raw=true) !important;
	        }

.soldierOwnN {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_ne.png?raw=true) !important;
	        }

.soldierOwnE {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_e.png?raw=true) !important;
	        }

.soldierOwnSE {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_se.png?raw=true) !important;
	        }

.soldierOwnS {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_s.png?raw=true) !important;
	        }

.soldierOwnSO {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_so.png?raw=true) !important;
	        }

.soldierOwnO {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_o.png?raw=true) !important;
	        }

.soldierOwnON {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/own_soldier_no.png?raw=true) !important;
	        }



/* ################ ISLAND ################ */
/* OWN CITY */
#island #cities .animated.city.own .island_feature_img {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/decorations/island_own_city.png?raw=true) !important;
	}

.animated .flagBlueBig, .animated.flagBlueBig, #island #cities .animated.city.own .flag {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/buildings_flag.png?raw=true) !important;
	}




/* ################ ADVISORS ################ */
/* COMMON */
#header #advisors {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/base.png?raw=true) !important;
					      pointer-events: auto;
											}

#header #advisors .pluslink {
    display: none;
			 }

/* MAJOR */
/* PREMIUM */
#header #advisors #advCities .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/0.png?raw=true);
	}

#header #advisors #advCities .premiumactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/0_active.png?raw=true);
	}

/* NORMAL */
#header #advisors #advCities .normal {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/0.png?raw=true);
	}

#header #advisors #advCities .normalactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/0_active.png?raw=true);
	}



/* MILITARY */
/* PREMIUM */
#header #advisors #advMilitary .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/2.png?raw=true);
	}

#header #advisors #advMilitary .premiumactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/2_active.png?raw=true);
	}

/* NORMAL */
#header #advisors #advMilitary .normal {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/2.png?raw=true);
	}

#header #advisors #advMilitary .normalactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/2_active.png?raw=true);
	}


/* RESEARCH */
/* PREMIUM */
#header #advisors #advResearch .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3.png?raw=true);
	}

#header #advisors #advResearch .premiumactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3_active.png?raw=true);
	}

/* NORMAL */
#header #advisors #advResearch .normal {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3.png?raw=true);
	}

#header #advisors #advResearch .normalactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3_active.png?raw=true);
	}


/* DIPLOMACY */
/* PREMIUM */
#header #advisors #advDiplomacy .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1.png?raw=true);
	}

#header #advisors #advDiplomacy .premiumactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1_active.png?raw=true);
	}

/* NORMAL */
#header #advisors #advDiplomacy .normal {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1.png?raw=true);
	}

#header #advisors #advMilitary .normalactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/2_active.png?raw=true);
	}


/* RESEARCH */
/* PREMIUM */
#header #advisors #advResearch .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3.png?raw=true);
	}

#header #advisors #advResearch .premiumactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3_active.png?raw=true);
	}

/* NORMAL */
#header #advisors #advResearch .normal {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3.png?raw=true);
	}

#header #advisors #advResearch .normalactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/premium_3_active.png?raw=true);
	}


/* DIPLOMACY */
/* PREMIUM */
#header #advisors #advDiplomacy .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1.png?raw=true);
	}

#header #advisors #advDiplomacy .premiumactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1_active.png?raw=true);
	}


/* NORMAL */
#header #advisors #advDiplomacy .normal {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1.png?raw=true);
	}

#header #advisors #advDiplomacy .normalactive {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/feminine_1_active.png?raw=true);
	}
