/* ################ BUILDINGS POSITIONS ################ */

#city #locations .position0 {
    left: 924px;
	}

#city #locations .position5 {
    left: 880px;
	    top: 634px;
		}

#city #locations .position9 {
    left: 685px;
	    top: 505px;
		}

#city #locations .position10 {
    left: 1051px;
	    top: 418px;
		}

#city #locations .position11 {
    left: 1207px;
	    top: 416px;
		}


/* ################ TOWN HALL ################ */
#city #locations .townHall .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_townhall.gif?raw=true) !important;
	}

#city #locations .townHall .hover {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_townhall.gif?raw=true) !important;
	}

#city #locations .building.townHall .flag_position {
    display: none;
	}


/* ################ ACADEMIA ################ */
#city #locations .academy .hover {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_academy.gif?raw=true) !important;
	}

#city #locations .academy .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_academy.gif?raw=true) !important;
	}


/* ################ BARACKS ################ */
#city .animated #locations .barracks .buildingimg, #city .animated #locations .barracks.busy .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_barracks2.gif?raw=true) !important;
	}

#city #locations .barracks .hover {
    display: none;
	}

.animated .animation_flag_barracks_16steps {
    display: none !important
	}



/* ################ WAREHOUSE ################ */
#city #locations .warehouse .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_warehouse.gif?raw=true);
	}


/* ################ AMBROISY SHOP ################ */
#city #cityFlyingShopContainer {
    top: 310px;
	    left: 1509px;
		}

#city #cityFlyingShopContainer {
    height: 50px !important;
	}


/* ################ CARPENTER ################ */
#city #locations .carpentering .buildingimg {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/buildings/building_carpentering.gif?raw=true);
	}

#city #locations .carpentering .hover {
    display: none;
	}

/*
################
DETAILS
################
*/

/* Beach People */
#city .animated #locations .beachboys {
    display: none;
	}

/*
################
ADVISORS
################
*/
/* COMMON */
#header #advisors {
    background-image: url(boid.png) !important;
	    pointer-events: auto;
		}

#header #advisors .pluslink {
    background: url(buttons/premiumadvisors_plus.png) no-repeat !important;
	}

/* MILITARY */
#header #advisors #advMilitary .premium {
    background-image: {url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/1.png?raw=true) !important};
	}

#header #advisors #advMilitary .premium {
    background-image: url(https://github.com/dh4rm4/Ikariam_dark_skin/blob/master/img/advisors/1.png?raw=true) !important;
	}